<h1>Add movie to <strong><%= @list.name %></strong></h1>
<hr>
<div class="container w-50">
  <%= simple_form_for [@list, @bookmark]  do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit %>
<% end %>
</div>
